.home-page {
    background-image: url("../../../../assets/images/home1.jpeg");
    background-repeat: no-repeat;
    background-position: 20% 20%;
    background-size: cover;
    width: 100vw;
    height: 88vh;
    display: flex;
}

.container {
    padding: 2em;
    margin: 3em;
    font-family: "PT serif";
    font-weight: 700;
    max-width: 30%;
    color: rgb(33, 195, 245);
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px rgb(175, 175, 175);
}
.container h1,
.container h3 {
    text-align: center;
}
.container p {
    font-size: 1.4em;
    font-weight: 400;
    color: white;
    font-style: italic;
    text-indent: 1em;
}
