<div class="container">
  <div class="vertical-nav">
    <h5>Моят пчелин</h5>
    <div class="navigation">
      <ul class="nav-list">
        <li id="info" class="active">
          <a (click)="clicked($event)" class="vert-nav">Инфо</a>
        </li>

        <li id="create-hive">
          <a (click)="clicked($event)" class="vert-nav">Добави кошер</a>
        </li>
        <li id="tasks">
          <a (click)="clicked($event)" class="vert-nav" routerLink="/dashboard"
            >Задачи</a
          >
        </li>
        <!-- <li>
          <a (click)="clicked($event)" class="vert-nav" routerLink="/dashboard"
            >Бележки</a
          >
        </li>
        <li>
          <a (click)="clicked($event)" class="vert-nav" routerLink="/dashboard"
            >A</a
          >
        </li> -->
      </ul>
    </div>
  </div>
  <div class="content">
    <div *ngIf="isInfo" class="main">
      <div *ngIf="" class="empty">
        <h1>Все още нямате добавени кошери!</h1>
      </div>
      <div class="quality-box">
        <figure class="item-fig">
          <img
            class="item-img"
            src="../../../assets/images/hive_grande.png"
            alt="#"
          />
          <h5>Farar</h5>
          <p>No:{{ hives }}</p>
          <p>{{ hives }}</p>
          <button class="form-btn">Виж</button>
        </figure>
      </div>
      <div class="quality-box">
        <figure class="item-fig">
          <img
            class="item-img"
            src="../../../assets/images/hive_grande.png"
            alt="#"
          />
          <h5>Name</h5>
          <p>No: 5</p>
          <p>10 рамки</p>
          <button class="form-btn">Виж</button>
        </figure>
      </div>
    </div>

    <div *ngIf="isCreateHive" class="add-hive">
      <p>add-hive works!</p>
    </div>

    <div *ngIf="isTask" class="task"><p>TAskS</p></div>
  </div>
</div>
