<div class="container">
    <div class="vertical-nav">
        <h5>Моят пчелин</h5>
        <div class="navigation">
            <ul class="nav-list">
                <li id="info" class="active">
                    <a (click)="clicked($event)" class="vert-nav">Инфо</a>
                </li>

                <li id="create-hive">
                    <a (click)="clicked($event)" class="vert-nav"
                        >Добави кошер</a
                    >
                </li>
                <li id="tasks">
                    <a (click)="clicked($event)" class="vert-nav">Задачи</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <app-info *ngIf="isInfo"></app-info>
        <app-add-hive
            *ngIf="isCreateHive"
            [isInfo]="isInfo"
            (isInfoChanged)="isInfo = $event"
            [isCreateHive]="isCreateHive"
            (isCreateHiveChanged)="isCreateHive = $event"
        ></app-add-hive>
        <app-tasks
            *ngIf="isTask"
            [isInfo]="isInfo"
            (isInfoChanged)="isInfo = $event"
        ></app-tasks>
    </div>
</div>
