.notification {
  position: fixed;
  z-index: 10;
  right: 8%;
  top: 8%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  font-style: italic;
  text-decoration: underline;
  box-shadow: 0 5px 10px rgb(204, 204, 204);
  background-color: rgb(238, 74, 74, 0.699);
}
.error-message {
  background-color: rgb(238, 74, 74, 0.699);
}
.success-message {
  background-color: rgb(99, 230, 81, 0.699);
}
.error {
  margin: 0 auto;
  background-image: url("../../../assets/images/404.jpg");
  background-position: top;
  background-repeat: none;
  height: 90vh;
}
.position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error h1 {
  color: rgb(255, 255, 255);
  letter-spacing: 0.2em;
  font-size: 4em;
}
.home-btn {
  width: 100%;
  margin: 1em auto;
  padding: 1em;
  border: 2px solid #9a3501;
  box-shadow: 0 0 5px 1px #e9a02e;
  border-radius: 25px;
  background-color: #e9a02e;
  color: #a43d03;
  font-size: 0.8em;
  font-weight: 700;
}
