<nav>
  <img src="../../../assets/images/Miss-Bee-Haven-Logo.png" alt="no load" />
  <div class="navigation">
    <ul class="nav-list">
      <li>
        <a class="nav-btn" routerLink="/">Home</a>
      </li>
      <ng-container *ngIf="isLoggeedIn">
        <li><a routerLink="/dashboard/info">Dashboard</a></li>

        <li>
          <!-- TODO make path -->
          <a routerLink="/users/profile">{{ username }}'s Profile</a>
        </li>
        <li (click)="logout()"><a>Logout</a></li>
      </ng-container>
      <ng-container *ngIf="!isLoggeedIn">
        <li>
          <a routerLink="/users/login">Login</a>
        </li>

        <li>
          <a routerLink="/users/register">Register</a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
