.body {
  display: flex;
}
.main {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  align-items: start;
  padding-bottom: 2em;
  background-color: #f3cb5d;
  flex: 1 1 auto;
  height: 100vh;
}
.loaded {
  scroll-behavior: auto;
  flex-wrap: wrap;
}
figure p:last-of-type {
  text-align: center;
}

.empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(148, 70, 14);
}
/* Figure */
.quality-box {
  background: rgb(148, 70, 14, 0.4);
  margin-top: 1em;
  display: flex;
  justify-content: center;
  border-radius: 10%;
  color: #a43d03;
  width: 150px;
}
.item-fig {
  padding: 1em;
}
.item-fig h5,
.item-fig p:first-of-type {
  display: inline;
  padding: 0.2em;
}

.item-img {
  display: block;
  width: 5rem;
}
.form-btn {
  width: 70%;
  text-align: center;
  margin-block: 1em;
  padding: 1em;
  border: 2px solid #9a3501;
  box-shadow: 0 0 5px 1px #e9a02e;
  border-radius: 25px;
  background-color: #e9a02e;
  color: #a43d03;
  font-size: 0.8em;
  font-weight: 700;
}
