<div class="background">
    <div *ngIf="errorMessage" class="error-message">
        <h3>
            {{ errorMessage }}
        </h3>
    </div>
    <ng-container *ngIf="isDeleting" class="modal">
        <div class="delete-container">
            <h2>
                Сигурни ли сте, че искате да изтриете задачата от:
                {{ task._createdOn | timePipe }}
            </h2>

            <button (click)="taskDelete(task._id)" class="delete-btn">
                Изтрий
            </button>
            <button (click)="back()" class="edit-btn">Назад</button>
        </div>
    </ng-container>
    <div class="container">
        <div class="text">
            <h3>От: {{ task._createdOn | timePipe }}</h3>
        </div>
        <div class="img-container">
            <img src="../../../assets/images/hiveProfile.jpg" alt="" />
        </div>

        <div class="data">
            <textarea
                id="taskType"
                name="taskType"
                type="text"
                rows="10"
                value="{{ task.task }}"
                readonly
            >
            </textarea>

            <button id="back-btn" routerLink="/users/profile" class="back-btn">
                Назад
            </button>
            <button id="delete-btn" (click)="confirm()" class="delete-btn">
                Изтрий
            </button>
        </div>
    </div>
</div>
