.container {
    background-color: #ffffff;
    margin: 2em auto;
    padding: 1em;
    border: 3px solid rgb(124, 124, 124);
    border-radius: 25px;
    box-shadow: 0px 0px 10px 1px rgb(156, 156, 156);
    width: 500px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.container a {
    padding: 1em;
    text-align: center;
}
.data {
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    display: block;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 0.2em;
}
input {
    display: block;
    padding: 0.4em 1em;
    border: 4px solid #ccc;
    border-radius: 0.3em;
    outline: none;
}
.field {
    padding: 0.5em;
}
.field .helper {
    font-size: 0.9em;
    font-style: italic;
    opacity: 0.5;
}
img {
    padding: 0.2em;
    border-radius: 25px;
}
