<div class="container">
    <div class="data">
        <form>
            <div class="field">
                <label for="">Email:</label>
                <input type="email" placeholder="email" />
                <span class="field helper">Atleast 8 characters needed!</span>
            </div>
            <div class="field">
                <label for="Name">Password:</label>
                <input type="text" placeholder="password" />
                <span class="field helper">Atleast 8 characters needed !</span>
            </div>
        </form>

        <a routerLink="/user/register">Нямате регистрация?</a>
    </div>
    <div class="img">
        <img src="../../../assets/images/bee-guard.png" alt="" />
    </div>
</div>
