<div class="tasks">
    <div class="container">
        <div class="text">
            <h3>Бележки</h3>
        </div>
        <div class="data">
            <form [formGroup]="form">
                <div class="field" row="10">
                    <textarea
                        id="task"
                        name="task"
                        rows="10"
                        type="text"
                        autofocus
                        formControlName="task"
                    ></textarea>
                </div>
                <ng-container *ngIf="form.get('task')?.touched">
                    <p
                        *ngIf="form.get('task')?.errors?.['required']"
                        class="error"
                    >
                        Моля въведете текст!
                    </p>
                </ng-container>
                <button (click)="addTask()" class="save-btn">Запази</button>
                <button (click)="onCancel()" class="cancel-btn">Отмени</button>
            </form>
        </div>
    </div>
</div>
