.tasks {
    display: flex;
    gap: 2em;
    align-items: start;
    justify-content: center;
    background-color: #f3cb5d;
    flex: 1 0 auto;
    height: 100vh;
    flex-wrap: wrap;
}
.container {
    margin: 2em auto;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
    background-color: #a43d03;
    color: #ffe4b6;
    border: 3px solid #9a3501;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 1px rgb(253, 193, 60);
    width: 600px;
    height: auto;
}

.container a {
    padding: 1em;
    text-align: center;
}
.error-message {
    position: fixed;
    right: 1%;
    padding: 1em;
    background-color: red;
    opacity: 0.6;
    color: rgb(255, 255, 255);
    border-radius: 10% /50%;
    box-shadow: -0.5em 0 0.4em rgb(0, 0, 0, 0.5);
    z-index: 10;
}
.text {
    flex: 1 0 100%;
    text-align: center;
}
.data {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
}
form {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
label {
    display: block;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 0.2em;
}
textarea {
    width: 95%;
    display: block;
    padding: 0.4em;
    border: 4px solid rgb(253, 193, 60);
    border-radius: 0.5em;
    outline: none;
}
.field {
    margin: 0 auto;
    padding: 0.5em;
    width: 90%;
}
.field .helper {
    font-size: 0.9em;
    font-style: italic;
    opacity: 0.5;
}
.buttons {
    flex: 1 0 100%;
}
.save-btn,
.cancel-btn {
    width: 30%;
    margin: 1em auto;
    padding: 1em;
    border: 2px solid #9a3501;
    box-shadow: 0 0 5px 1px #e9a02e;
    border-radius: 25px;
    background-color: #e9a02e;
    color: #a43d03;
    font-size: 0.8em;
    font-weight: 700;
}
.save-btn:hover {
    background-color: green;
    color: white;
    border: 2px solid rgb(58, 237, 58);
    box-shadow: 0 0 5px 1px rgb(58, 237, 58);
}
.cancel-btn:hover {
    background-color: rgb(212, 3, 3);
    color: white;
    border: 2px solid rgb(250, 0, 0);
    box-shadow: 0 0 5px 1px rgb(212, 3, 3);
}
